---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import HeroHistory from '../components/HeroHistory.astro';
import EventsPagination from '../components/EventsPagination.astro';
import Locaciones from '../components/Locaciones.astro';
import Navbar from '../components/Navbar.astro';



import BrandInfo from '../components/BrandInfo.astro';
import Footer from '../components/Footer.astro';

---



<Layout title="Home">
	<Navbar />
	<main class="min-h-screen">
		
		<Banner />
		<HeroHistory />
		<EventsPagination />
		

		
		<div class="md:my-16"></div>


		<div class="md:my-16"></div>


		<div class="md:my-16"></div>

<Locaciones />
		<div class="my-0 md:my-10"></div>
		
		<BrandInfo />
		<Footer />
	</main>
</Layout>
